<div class="row">
  <div class="col-md-4">
    <form #f="ngForm" (ngSubmit)="checkLogin(f.value)">
      <div class="form-group">
        <label>Username</label>
        <input autocomplete="off" name="username" class="form-control" ngModel/>
      </div>

      <div class="form-group">
        <label class="control-label">Password</label>
        <input type="password" name="password" class="form-control" ngModel/>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">
          Login
        </button>
      </div>
    </form>
  </div>
</div>