<table class="table talbe-hover border">
  <tr>
    <td>Id</td>
    <td>{{employee.id}}</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>{{employee.name}}</td>
  </tr>
  <tr>
    <td>Age</td>
    <td>{{employee.age}}</td>
  </tr>
  <tr>
    <td>Status</td>
    <td>{{employee.status}}</td>
  </tr>
</table>
<div class="btn-group">
  <a class="btn btn-primary" [routerLink]="['overview']">Overview</a>
  <a class="btn btn-success" [routerLink]="['projects']">project</a>
  <a class="btn btn-secondary" [routerLink]="['/employees']">Go back</a>
</div>
<router-outlet></router-outlet>